body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('background.jpg');
  background-size: cover;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  width: 90%;
  padding: 20px;
  border-radius: 5px;
}

.image-box {
  max-width: 600px;
  width: 90%;
  padding: 20px;
  border-radius: 5px;
  background-image: url('ted_x_web.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: whitesmoke;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: red;
}

.header-titles {
  align-items: center;
}
